.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.user-info-display {
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.username-display {
    margin-right: 15px;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 250px;
    height: 100vh;
    border-radius: 10px;
    margin-right: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
