.user-report-container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.user-report-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.section {
    margin-top: 20px;
}

.summary-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.summary-card h3 {
    margin: 0;
}

.user-list {
    margin-top: 20px;
}

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.user-details {
    flex: 1;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions button {
    margin-right: 10px; 
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color:black;
    cursor: pointer;
}

.user-actions button:hover {
    background-color: white; 
}

.user-actions button::after {
    content: attr(title); 
    position: absolute;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    font-size: 12px;
    z-index: 1;
}

.user-actions button:hover::after {
    opacity: 1;
    visibility: visible;
}


.user-actions i {
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.user-actions i:hover {
    color: white;
}


